.ui-footer
{
	background: #000;
	background-image:url(x.gif);
}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: 'Titillium Web', sans-serif;
}
.font300 {
	font-size:300%;
}

#div1 {
background-image: -ms-linear-gradient(bottom, rgb(18,42,186) 6%, rgb(45,72,224) 53%, rgb(72,101,255) 77%);
}
